
@media print {
  body * { visibility: hidden; }
  .printable-modal, .printable-modal * { visibility: visible; }
  .printable-modal { position: absolute; left: 0; top: 0; width: 100%; box-shadow: none !important; border: none !important; background: white !important; }
  .no-print { display: none !important; }
  .print-area, .print-area p, .print-area h2, .print-area span { color: black !important; }
  .print-qr-container { border: 2px solid #000 !important; }
}
